<div class="contenedor">
    <h2 class="titulo">Bienvenidos</h2>
    <p class="texto">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam culpa, ipsa, quasi aperiam maiores inventore
        earum optio consequatur cumque, sint nobis aspernatur ratione minima quisquam hic delectus minus est veniam?
        <br><br>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam voluptas animi similique quae nostrum
        quisquam eos dolorum labore praesentium accusantium hic cumque dolores, placeat dicta mollitia vitae non earum
        deleniti?        
    </p>
    <div class="caracteristicas">
        <div class="item">
            <img class="img-checked" src="assets/imagenes/verificacion.png" alt="checked" width="30px" height="30px">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="item">
            <img class="img-checked" src="assets/imagenes/verificacion.png" alt="checked" width="30px" height="30px">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, reprehenderit illum maxime veniam adipisci officia porro magnam.</p>
        </div>
        <div class="item">
            <img class="img-checked" src="assets/imagenes/verificacion.png" alt="checked" width="30px" height="30px">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore dolore ipsum nesciunt. Neque, voluptatem aspernatur, odit laudantium enim recusandae ut et maxime voluptates hic nesciunt commodi quas inventore excepturi. Dicta!</p>            
        </div>

    </div>
    
    
    
    
    
    
    <div class="contenedor-img">
        <img src="assets/imagenes/about.jpg" alt="imagen de inventario" width="300" height="300">
    </div>
    

</div>